Type conversion in Python refers to converting one data type to another. There are two types of type conversion:

#### Implicit Type Conversion: 
The Python interpreter automatically converts one data type to another without the programmer's intervention.
#### Explicit Type Conversion: 
The programmer manually converts one data type to another using predefined functions.

### Implicit Type Conversion
In implicit type conversion, Python automatically converts a smaller data type to a larger data type to prevent data loss.

## Example

In [1]:
x = 10   # int
y = 3.5  # float

# x is implicitly converted to float
result = x + y

print(result)   # 13.5
print(type(result))  # <class 'float'>

13.5
<class 'float'>

In this example, x (an integer) is automatically converted to a float when added to y (a float).

### Explicit Type Conversion
In explicit type conversion, also known as type casting, you manually convert one data type to another using Python's built-in functions.

#### Common Functions for Type Conversion
- int(): Converts a value to an integer.
- float(): Converts a value to a float.
- str(): Converts a value to a string.
- list(): Converts a value to a list.
- tuple(): Converts a value to a tuple.
- set(): Converts a value to a set.
- dict(): Converts a value to a dictionary (if the value is iterable and has pairs).
## Examples
Converting String to Integer and Float

In [2]:
s = "123"
print(int(s))   # 123
print(float(s)) # 123.0

123
123.0

## Converting Integer and Float to String

In [3]:
num = 42
f = 3.14159
print(str(num))  # '42'
print(str(f))    # '3.14159'

42
3.14159

## Converting List to Tuple and Set

In [4]:
lst = [1, 2, 3, 4, 4]
print(tuple(lst))  # (1, 2, 3, 4, 4)
print(set(lst))    # {1, 2, 3, 4} - duplicates are removed in a set

(1, 2, 3, 4, 4)
{1, 2, 3, 4}

### Converting Tuple to List and Set

In [5]:
tup = (1, 2, 3, 4, 4)
print(list(tup))  # [1, 2, 3, 4, 4]
print(set(tup))   # {1, 2, 3, 4}

[1, 2, 3, 4, 4]
{1, 2, 3, 4}

### Handling Type Conversion Errors
Type conversion can sometimes lead to errors if the conversion is not possible. For example, converting a non-numeric string to an integer will raise a ValueError. It's good practice to handle such errors using try-except blocks.

In [6]:
s = "abc"
try:
    num = int(s)
except ValueError:
    print(f"Cannot convert '{s}' to an integer.")

Cannot convert 'abc' to an integer.